body {
    font-family: Arial, sans-serif;
    margin: 20px;
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode .quiz-item,
body.dark-mode .question-block {
  background-color: #1e1e1e;
  border-color: #333;
}

body.dark-mode .btn {
  background-color: #444;
  color: #fff;
}


h1 {
    margin-bottom: 20px;
    color:red;
}

.course-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.course-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
}

.course-name {
    font-weight: bold;
    font-size: 18px;
}

.start-btn {
    background-color: #007BFF;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s;
}

.start-btn:hover {
    background-color: #0056b3;
}



.quiz-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quiz-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 6px;
}

.quiz-info h2 {
    margin: 0;
    font-size: 20px;
}

.quiz-info p {
    margin: 5px 0;
    color: #555;
}




.question {
    margin-bottom: 20px;
}

label {
    cursor: pointer;
    font-size: 16px;
}

.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

