body { 
    display: flex; 
    justify-content: center; /* horizontal */ 
    align-items: center; /* vertical */ 
    height: 100vh; /* full viewport height */ 
    margin: 0; /* remove default body margin */ 
}
.login-container {
  display: flex;
  flex-direction: column;   /* stack children vertically */
  justify-content: center;  /* center vertically */
  align-items: center;      /* center horizontally */
  width: 30%;
  padding: 20px;            /* instead of fixed height */
  box-shadow: 0px 0px 2px 4px grey;
}
form input,
form button,
form label {
  margin-bottom: 1rem; /* adds space below each element */
}
form{
    text-align: center;
}


